[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

musicbrainzngs = "*"
mutagen = "*"
pytest = "*"
pytest-datadir = "*"
pytest-runner = "*"


[dev-packages]

